
body{
    font-family: 'Akaya Telivigala', cursive;
   /*background: rgb(122, 115, 115);*/
}
.cabecera{
    display: flex;
    justify-content: space-around;
}
.titulo{
    display: inline-block;
    /*background: chocolate;*/
    padding: 0px 10px;
}
.raya{
    width: 41%;    
}
.T1{ 
    text-align: center;
    color: blue;
    
}
nav{
    background: rgba(128, 0, 128, 0.233);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-enlace{
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
@media(max-width: 600px){
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0px;
    }
}

form{
    background: rgb(255, 255, 255);
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
}
legend{
    text-align: center;
}
