
.cabecera{
    display: flex;
}
.raya-izq{
    width: 42,5%;    
}
.T1{ 
    text-align: center;
    color: blue;
    width: 15%;
    
}
.raya-der{
    
    width: 42,5%;
}
nav{
    background: purple;
    padding: 10px;
}
.nav-enlace{
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
form{
    background: rgb(255, 255, 255);
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
}
legend{
    text-align: center;
}
body{
    /*background: rgb(122, 115, 115);*/
}