.cabecera{
    
    display: flex;
    justify-content: space-around;
}
.titulo{
    display: inline-block;
    /*background: chocolate;*/
    padding: 0px 10px;
}
.raya{
    width: 41%;    
}

img.logo{
    display: inline-block;
    height: auto;
}
nav{
    background: rgba(43, 65, 35, 0.233);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-enlace{
    display: inline-block;
    background: rgb(2, 56, 0);
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rgb(0, 94, 36);
}
.nav-enlace:active{
    background: green;
}

.entrar{
    float: right;
}
h3.tituloR{
    font-size: 30px;
}
#Email{
    margin: 0 10px;
}
.enviado{
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
    background: rgb(0, 128, 0);
    margin: 10px 0;
}
.enviado:hover{
    background: rgb(0, 82, 0);
}
.enviado:active{
    background: rgb(32, 131, 32);
}
.socio{
    display: flex;
}
.si{
    margin: 0 20px ;
}
.datos{
    margin: 15px 45px;
}
.dato{
    margin: 5px 0;
    
}

.tipo{
    margin: 0 45px;
}
.optgroup{
    border-radius: 5px;
    background: rgb(165, 165, 165);
    border: 2px solid black;
}

.area{
    margin: 20px 45px;
    
}







.promocion{
    padding-top: 30px;
    font-size: 40px;
}
.alinear{
    margin: 0px auto;
    width: 90%;
}
.ofertas{
    display: flex;
    flex-wrap: wrap;
}
.oferta{
    margin: 0px auto;
    background: rgba(100,100,100,0.9);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
    margin-bottom: 55px;
    padding-bottom: 30px;
}
h2{
    text-align: center;
    color: rgb(10, 13, 56);
}
h3{
    padding: 0 30px;
}
.unidades{
    padding: 5px 45px;
}
.precio{
    padding: 10px 45px;
}
.compra{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55) ;
    background: darkgoldenrod;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 35px;
    color: chartreuse;
    text-decoration: none;
}
.compra:hover{
    background: darkblue;
}
.compra:active{
    background: rgb(22, 22, 255);
}
