

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fondo{
    background-image: url(sobreruedas.png) ;
    background-repeat:  no-repeat;
    background-position: center center;
    position: relative;
}
.fondo:before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
.letras{
   position: relative;
}