footer{
    width: 100%;
    background: #202020;
    color: white;
}
.cuerpo-entero{
    width: 100%;
    max-width: 90%;
    margin: auto;
}
.cuerpo{
    display: flex;
}
.columna1{
    max-width: 400px;
}
.columna1 h4{
    font-size: 22px;
}
.columna1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}
.columna2{
    max-width: 400px;
}
.columna2 h4{
    font-size: 22px;
}
.fila{
    margin-top: 20px;
    display: flex;
}