@media(max-width: 900px){
    nav{
        background: rgba(43, 65, 35, 0.233);
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0px;
    }
    img.info{
        display: none;        
    }
    .entrar{
        float: none;
    }
}
@media(max-width: 1250px){
    .column{
        width: 45%;
        margin-bottom: 20px;
    }
}
@media(max-width: 900px){
    .column{
        width: 100%;
        margin-bottom: 20px;
    }
}